<div class="mainimgOuter">
    <div class="mainimgInner">
        <img src="img/desserts.jpg" alt="pastry" />
        <p></p>
    </div>
</div>

<div class="todayitemstitle" style="margin-bottom: 1px">
    <h2>오레오 오조</h2>
    <h2>오늘의 상품</h2>
</div>
<section>
<div id="main-products">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <% products.forEach(product=> { %>
            <div class="col">
                <div class="card h-100">

                    <div class="card_thumbnail_wrapper">
                        <div class="card_thumbnail">
                            <div class="centered">
                                <div class="card_img">
                                    <img src="<%= product.product_image %>" class="card-img-top" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <h3 class="card-title" id="<%= product.product_id %>">
                            <%= product.product_name %>
                        </h3>
                        <p class="card-text">
                            <%= product.product_detail %>
                        </p>
                        <h5 class="card-title">
                            <%= product.product_price %>원
                        </h5>
                        <input id="product_id<%= product.product_id %>" type='number' min='1' max='99' value="1">
                        <button onclick="registcart(<%= product.product_id %>)">담기</button>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>
</div>

    <!-- 페이징 -->
    <div class="pagination" id="pagination">
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <% if (chunk_start - 1 > 0) { %>
                <li class="page-item">
                    <a class="page-link" href="/?page=<%= chunk_start - 1 %>" tabindex="-1"
                       aria-disabled="true">Previous</a>
                </li>
            <% } %>
            <% for (let i = chunk_start; i <= chunk_end; i++) { %>
                <!-- 무조건 5페이지씩 버튼 다는 게 아니라 데이터가 존재하지 않는 페이지는 화면에 나타내지 않기 위한 조건문 -->
                <% if (i <= last_page_num) { %>
                    <% if (i == page) { %>
                        <li class="page-item active" aria-current="page">
                            <span class="page-link"><%= i %></span>
                        </li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link"
                             href="/?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                <% } %>
            <% } %>
            <% if (chunk_end < last_page_num) { %>
                <li class="page-item">
                    <a class="page-link" href="/?page=<%= chunk_end + 1 %>">Next</a>
                </li>
            <% } %>
          </ul>
        </nav>
    </div>
</section>