
<p></p>
<h1>회원 정보</h1>
<span class="userinfo">
    <h1>아이디 : <%- user_id %> </h1>
    <h1>비밀번호 : <%- password %> </h1>
    <h1>연락처 : <%- phone%> </h1>
    <h1>이메일 : <%- email%> </h1>
    <h1>주소 : <%- address%> </h1>
</span>

<p></p>

<h1>주문 정보</h1>
<span class="orderinfo">
    <h1>주문번호 : <%- user_id %> </h1>
    <h1>주문일시 : <%- password %> </h1>
    <h1>연락처 : <%- phone %> </h1>
    <h1>배송주소 : <%- address%> </h1>
</span>




